<section class="page-shell">
  <main class="hero">
    <div class="hero-card">
      <p class="hero-menu-path"></p>
      <h1>Standard installation</h1>
      <p class="hero-subtitle">
        Professional installation from <i class="hot-price">@if (getBasicPrice(); as price) { {{ price }} € }</i>
      </p>
    </div>
    <div class="price-carusel">
      @for (item of pricing(); track item.package_code) {
        <div class="price-card">
          <div class="price-card-header">
            <div class="price-card-icon" [class.water-color]="item.recommended">

              @if (item.package_code == 'BASIC') {
                <i class="fa-solid fa-fire-flame-curved"></i>
              }
              @else if (item.package_code == 'STANDARD') {
              <i class="fa-solid fa-temperature-arrow-up"></i>
              } @else {
              <i class="fa-solid fa-house-fire"></i>
              }
            </div>

            <div class="price-card-title">
              <h2>{{ item.package_name }}</h2>
              <h5>{{ item.description }}</h5>
            </div>
          </div>

          <div class="price-divider"></div>

          <div class="price-section">
            <span class="from">from</span>
            <span class="price" [class.water-color]="item.recommended">{{ this.utils.formatWithSpaces(item.price) }} €</span>
          </div>

          <h3 [class.water-color]="item.recommended" >INCLUDED IN THE PRICE:</h3>


          <ul class="features" [class.water-color]="item.recommended">
            @if (item.package_code == 'BASIC') {
            <li>Outdoor & indoor unit installation</li>
            <li>Connection to existing heating system</li>
            <li>Hydraulic connection</li>
            <li>Standard connection installation</li>
            <li>Refrigerant piping</li>
            <li>System vacuuming</li>
            <li>Leak test</li>
            <li>Connecting of communications</li>
            <li>System filling and air purging</li>
            <li>Equipment setup and start-up</li>
            } @else if (item.package_code == 'STANDART') {
              <li>Everything from the standard package </li>
              <li>3-way valve installation and connection </li>
              <li>Heating / DHW switching setup</li>
              <li>Hot water heating operation check</li>
            } @else {
              <li>Everything from the previous package</li>
              <li>Buffer tank connection</li>
              <li>Additional hydraulic installation</li>
              <li>System setup with buffer tank</li>
            }
          </ul>

          <button class="quote-btn" [class.water-color]="item.recommended">
            REQUEST QUOTE
            <span>→</span>
          </button>
        </div>
      }
    </div>
    <div class="price-card-footer">
      <div class="price-card-footer-title"><i class="fa-solid fa-circle-exclamation"></i> NOT INCLUDED IN THE PRICE</div>
      <ul>
        <li><i class="fa-solid fa-hexagon-nodes-bolt"></i>Electrical works</li>
        <li><i class="fa-solid fa-hard-hat"></i>Foundation</li>
        <li><i class="fa-solid fa-hammer"></i>Construction works</li>
        <li><i class="fa-solid fa-person-digging"></i>Old equipment removal</li>
        <li><i class="fa-solid fa-wrench"></i>System modifications</li>
        <li><i class="fa-solid fa-circle-plus"></i>Additional radiators new heating circuits</li>
        <li><i class="fa-solid fa-faucet"></i>Extra refrigerant piping length</li>
        <li><i class="fa-solid fa-wrench"></i>Additional refrigerant refill</li>
        <li><i class="fa-solid fa-snowflake"></i>Anti-freeze filling</li>
        <li><i class="fa-solid fa-truck"></i>Equipment lifting challenging access</li>
        <li><i class="fa-solid fa-calendar-check"></i>Additional visits</li>
      </ul>
    </div>
  </main>
</section>
