<section class="page-shell">
  <main class="hero">    
    <div class="hero-card">
      <p class="hero-menu-path"></p>
      <h1>Standard installation</h1>
      <p class="hero-subtitle">
        Professional installation from <i class="hot-price">{{ getBasicPrice() }}</i>
      </p>
    </div>

    <div class="price-card">
      <h2>HEATING ONLY</h2>
      <h5>warm floors or radiators</h5>
      <i class="from">from</i><div class="price">1150 €</div>
      <h3> IN THE PRICE:</h3>
      <ul>
      <li>Outdoor & indoor unit installation</li>
      <li>Connection to existing heating system</li>
      <li>Hydraulic connection</li>
      <li>Standard connection installation</li>
      <li>Refrigerant piping</li>
      <li>System vacuuming</li>
      <li>Leak test</li>
      <li>Connecting of communications</li>
      <li>System filling and air purging Equipment setup and start-up</li>
      </ul>
      <button>REQUEST QUOTE</button>      
    </div>
  </main>
</section>
