<section class="page-shell">
  <main class="hero">
    <div class="hero-card">
      <p class="hero-menu-path"></p>
      <h1>{{ title }}</h1>
      <p class="hero-subtitle">
        Professional installation from <i class="hot-price">@if (getBasicPrice(); as price) { {{ price }} € }</i>
      </p>
    </div>
    <div class="price-carusel">
    @if (loading()) {
      @for (card of [1,2,3]; track card) {
        <div class="price-card skeleton-card">
          <div class="price-card-header">
            <div class="price-card-icon skeleton"></div>
            <div class="price-card-title">
              <div class="skeleton title"></div>
              <div class="skeleton subtitle"></div>
            </div>
          </div>
          <div class="price-divider"></div>
          <div class="price-section">
            <div class="skeleton price"></div>
          </div>
          <div class="skeleton section-title"></div>
          <ul class="features">
            @for (i of [1,2,3,4,5]; track i) {
              <li class="skeleton feature"></li>
            }
          </ul>
          <div class="skeleton button"></div>
        </div>
      }
    } @else {
      @for (item of pricing(); track item.package_code) {
        <div class="price-card">
          <div class="price-card-header">
            <div class="price-card-icon" [class.water-color]="item.recommended">

              @if (item.package_code == 'BASIC') {
                <i class="fa-solid fa-fire-flame-curved"></i>
              }
              @else if (item.package_code == 'STANDARD') {
              <i class="fa-solid fa-temperature-arrow-up"></i>
              } @else {
              <i class="fa-solid fa-house-fire"></i>
              }
            </div>

            <div class="price-card-title">
              <h2 fitText>{{ item.package_name }}</h2>
              <h5>{{ item.description }}</h5>
            </div>
          </div>

          <div class="price-divider"></div>

          <div class="price-section">
            <span class="from">from</span>
            <span class="price" [class.water-color]="item.recommended">{{ this.utils.formatWithSpaces(item.price) }} €</span>
          </div>

          <h3 [class.water-color]="item.recommended" >INCLUDED IN THE PRICE:</h3>


          <ul class="features" [class.water-color]="item.recommended">
            @for (serv of item.services; track $index) {
              <li>{{ serv }}</li>
            }
          </ul>

          <button class="quote-btn" [class.water-color]="item.recommended">
            REQUEST QUOTE
            <span>→</span>
          </button>
        </div>
      }
    }
    </div>
    <div class="price-carusel-footer" style="">
      <div class="price-card-footer equipment">
        <div class="price-card-footer-title"><i class="fa-solid fa-layer-group"></i> Additional equipment & services</div>
        <ul>
          <li><i class="fa-solid fa-mobile"></i>DHW CYLINDER</li>
          <li><i class="fa-solid fa-mobile"></i>BUFFER TANK</li>
          <li><i class="fa-solid fa-microchip"></i>EXTRA AUTOMATION</li>
          <li><i class="fa-solid fa-recycle"></i>CIRCULATION PUMPS</li>
          <li><i class="fa-solid fa-fan"></i>PUMP GROUPS & MIXING UNITS</li>
          <li><i class="fa-solid fa-file-invoice-dollar"></i>ADDITIONAL MATERIALS & WORKS</li>
        </ul>
        <span>Items above are not included in the standard installation price.</span>
      </div>
      <div class="price-card-footer">
        <div class="price-card-footer-title"><i class="fa-solid fa-circle-exclamation"></i> NOT INCLUDED IN THE PRICE</div>
        <ul>
          <li><i class="fa-solid fa-hexagon-nodes-bolt"></i>Electrical works</li>
          <li><i class="fa-solid fa-hard-hat"></i>Foundation</li>
          <li><i class="fa-solid fa-hammer"></i>Construction works</li>
          <li><i class="fa-solid fa-person-digging"></i>Old equipment removal</li>
          <li><i class="fa-solid fa-wrench"></i>System modifications</li>
          <li><i class="fa-solid fa-circle-plus"></i>Additional radiators new heating circuits</li>
          <li><i class="fa-solid fa-faucet"></i>Extra refrigerant piping length</li>
          <li><i class="fa-solid fa-wrench"></i>Additional refrigerant refill</li>
          <li><i class="fa-solid fa-snowflake"></i>Anti-freeze filling</li>
          <li><i class="fa-solid fa-truck"></i>Equipment lifting challenging access</li>
          <li><i class="fa-solid fa-calendar-check"></i>Additional visits</li>
        </ul>
      </div>
    </div>
    <div class="price-card-footer trafic">
      <div class="price-card-footer-title"><i class="fa-solid fa-location-dot"></i> CONDITIONS BY REGION</div>
      <ul>
        <li><span>Viljandi</span> - the price is valid</li>
        <li><span>Tartu</span> - individual calculation</li>
        <li><span>Tallin</span> - possible price adjustment</li>
        <li><span>Narva</span> and other remote regions - individual calculation</li>
      </ul>
    </div>
    <div class="price-card-footer info">
        <i class="fa-solid fa-circle-exclamation"></i>
        <span>Final price is confirmed after site inspection and assessment of installation conditions.</span>
    </div>
  </main>
</section>
